body{
    /* background-color: #F0F8FF; */
    background-color: white;
}

/* span error index.html */
.hidden{
    display: none;
}

/* table login */
.center {
    margin-left: auto;
    margin-right: auto;
}

.card{
    border: solid 1px;
}


